version: 2.1

orbs:
  node: circleci/node@3.0.1

defaults: &defaults
  executor:
    name: node/default
    tag: lts

jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run: yarn validate
      - persist_to_workspace:
          root: ~/
          paths:
            - .cache
            - project
  release:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn semantic-release

workflows:
  version: 2
  test_and_release:
    jobs:
      - test
      - release:
          requires:
            - test
          filters:
            branches:
              only: master
